<div class="flex justify-between items-center px-28 py-3 gap-5 shadow-md mb-5">
  <div class="flex gap-5">
    <button class="bg-slate-400 rounded p-1" (click)="updateChildOneInput()"
    >Update Input (property)</button>
    <button class="bg-slate-400 rounded p-1" (click)="updateChildOneInputAfterTimeout()"
    >after 2s</button>
  </div>

  <div class="flex gap-5">
    <app-cd-icon #cdIcon />
    <app-cd-icon #renderIcon iconType="render" />
  </div>
  <div class="flex gap-5">
    <button class="bg-slate-400 rounded p-1" (click)="updateChildTwoInput()"
    >Update Input (signal)</button>
    <button class="bg-slate-400 rounded p-1" (click)="updateChildTwoInputAfterTimeout()"
    >after 2s</button>
  </div>
</div>
<div class="flex gap-4 p-3 justify-evenly items-center">
  <app-child [inputData]="childOneInput" />
  <app-child [inputData]="childTwoInput()" />
</div>
